<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Suite">
    <test name="Smoke">
        <classes>
            <class name="tests.CalculatorIntegerTests">
                <methods>
                    <include name="divisionWithIntegerValidDataTest"/>
                </methods>
            </class>
            <class name="tests.CalculatorDoubleTests">
                <methods>
                    <include name="divisionWithDoubleValidDataTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Regression Test">
        <classes>
            <class name="tests.ParamDoubleTest">
            <methods>
                <include name="validOneNegativeDoubleTest"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>